{% extends app.request.isXmlHttpRequest ? '::baseajax.html.twig' : '::basesmartpanel.html.twig' %}
{% block content -%}
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa fa-table fa-fw "></i> 
				Articulos
			<span>> 
				Detalle Historial de Clientes
			</span>
		</h1>
	</div>
	<div class="hidden col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<li class="sparks-info">
				<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				</div>
			</li>
			<li class="sparks-info">
				<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
			<li class="sparks-info">
				<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">



			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Detalle Historial de Clientes </h2>
            			</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
	
					        <thead>
								<tr>
									<th class="hasinput" style="width:22%">
										<div class="input-group">
											<input class="form-control" placeholder="Buscar Articulo" type="text">
											<span class="input-group-addon">
												<span class="onoffswitch">
													<input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st3">
													<label class="onoffswitch-label" for="st3"> 
														<span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span> 
														<span class="onoffswitch-switch"></span> 
													</label> 
												</span>
											</span>
										</div>
													
												
									</th>
                                                                        <th class="hasinput" style="width:25%">
										<input type="text" class="form-control" placeholder="Buscar Cliente" />
									</th>
									<th class="hasinput icon-addon">
										<input id="fechafiltermin" style="width:50%!important" type="text" placeholder="Desde" class="form-control datepicker" data-dateformat="yy-mm-dd">
                                                                                <label for="fechafiltermin" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Desde"></label>
                                                                                <input id="fechafiltermax" style="width:50%!important" type="text" placeholder="Hasta" class="form-control datepicker" data-dateformat="yy-mm-dd">
									</th>
									<th class="hasinput" style="width:10%">
										<input type="text" class="form-control" placeholder="Buscar Tipo" />
									</th>
                                                                        <th class="hasinput" style="width:18%">
										<input type="text" class="form-control" placeholder="Buscar Observacion" />
									</th>
									<th class="hasinput icon-addon">
										
									</th>
								</tr>
					            <tr>
                                                    <th data-class="expand">Articulo</th>
                                                    <th>Cliente</th>
                                                    <th data-hide="phone">Fecha</th>
                                                    <th data-hide="phone,tablet">Tipo</th>
                                                    <th data-hide="phone,tablet">Observación</th>
                                                    <th data-hide="phone,tablet">Actions</th>
					            </tr>
					        </thead>

					       <tbody>
                                                {% for entity in entities %}
                                                    <tr>
                                                        <td><a href="#{{ path('articulosdetalleclientehistorial_show', { 'id': entity.id }) }}">{{ entity.codarticulodetalle }}</a></td>
                                                        <td>{{ entity.codusuario }}</td>
                                                        <th>{{ entity.fecha|default('0')|date('Y-m-d H:i:s') }}</th>
                                                        <td>{{ entity.tipo }}</td>
                                                        <td>{{ entity.observacion }}</td>
                                                        <td>
                                                        <ul>
                                                            <li>
                                                                <a href="#{{ path('articulosdetalleclientehistorial_show', { 'id': entity.id }) }}">mostrar</a>
                                                            </li>
                                                            <li>
                                                                <a href="#{{ path('articulosdetalleclientehistorial_edit', { 'id': entity.id }) }}">editar</a>
                                                            </li>
                                                        </ul>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
					
						</table>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->



		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

	<!-- end row -->

</section>
<!-- end widget grid -->


    



        <ul>
        <li>
            <a href="#{{ path('articulosdetalleclientehistorial_new') }}">
                Crear nuevo registro
            </a>
        </li>
    </ul>
<script type="text/javascript" src="{{ asset('js/arxis-postforms.js')}}"></script> 
    {% endblock %}

    {% block ajax_scripts -%}
<script type="text/javascript">

	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 */
	
	// PAGE RELATED SCRIPTS
	
	// pagefunction	
	var pagefunction = function() {
		//console.log("cleared");
		
		/* // DOM Position key index //
		
			l - Length changing (dropdown)
			f - Filtering input (search)
			t - The Table! (datatable)
			i - Information (records)
			p - Pagination (paging)
			r - pRocessing 
			< and > - div elements
			<"#id" and > - div with an id
			<"class" and > - div with a class
			<"#id.class" and > - div with an id and class
			
			Also see: http://legacy.datatables.net/usage/features
		*/	

		/* BASIC ;*/
			var responsiveHelper_dt_basic = undefined;
			var responsiveHelper_datatable_fixed_column = undefined;
			var responsiveHelper_datatable_col_reorder = undefined;
			var responsiveHelper_datatable_tabletools = undefined;
			
			var breakpointDefinition = {
				tablet : 1024,
				phone : 480
			};

		

		/* END BASIC */
                
            /* Custom filtering function which will search data in column four between two values */
            loadScript("{{asset("js/plugin/moment/moment.min.js")}}", function(){
    
                 $.fn.dataTable.ext.search.push(
                        function( settings, data, dataIndex ) {
                            var min = moment($('#fechafiltermin').val(), "YYYY-MM-DD");
                            var max = moment($('#fechafiltermax').val(), "YYYY-MM-DD");
                            var fecha = moment(data[2], "YYYY-MM-DD") || 0; // use data for the age column
                            if (!min.isValid())
                            {min=NaN;}
                            if (!max.isValid())
                            {max=NaN;}
                            if ( ( isNaN( min ) && isNaN( max ) ) ||
                                 ( isNaN( min ) && fecha <= max ) ||
                                 ( min <= fecha   && isNaN( max ) ) ||
                                 ( min <= fecha   && fecha <= max ) )
                            {
                                return true;
                            }
                            return false;
                        }
                    );  
  
                });
  
                
		
		/* COLUMN FILTER  */
	    var otable = $('#datatable_fixed_column').DataTable({
	    	//"bFilter": false,
	    	//"bInfo": false,
	    	//"bLengthChange": false
	    	//"bAutoWidth": false,
	    	//"bPaginate": false,
	    	//"bStateSave": true // saves sort state using localStorage
          
                        "order": [[ 2, "desc" ]],
			"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
					"t"+
					"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			"autoWidth" : true,
			"preDrawCallback" : function() {
				// Initialize the responsive datatables helper once.
				if (!responsiveHelper_datatable_fixed_column) {
					responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
				}
			},
			"rowCallback" : function(nRow) {
				responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
			},
			"drawCallback" : function(oSettings) {
				responsiveHelper_datatable_fixed_column.respond();
			}
                        
		
	    });
	    
	    // custom toolbar
	    $("div.toolbar").html('<div class="text-right"><img src="{{asset('logouniandes.png')}}" alt="Uniandes" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');
	    
    
          
	    // Apply the filter
	    $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {
	    	
                if ($(this).parent().index()!==2)
                {    
	        otable
	            .column( $(this).parent().index()+':visible' )
	            .search( this.value )
	            .draw();
                }   
	    } );
            
             $('#fechafiltermin, #fechafiltermax').on( 'keyup change', function () {
                    otable.draw();
                } );

	    /* END COLUMN FILTER */   
	};

	// load related plugins
	
	loadScript("{{asset('js/plugin/datatables/jquery.dataTables.min.js')}}", function(){
		loadScript("{{asset('js/plugin/datatables/dataTables.colVis.min.js')}}", function(){
			loadScript("{{asset('js/plugin/datatables/dataTables.tableTools.min.js')}}", function(){
				loadScript("{{asset('js/plugin/datatables/dataTables.bootstrap.min.js')}}", function(){
					loadScript("{{asset('js/plugin/datatable-responsive/datatables.responsive.min.js')}}", pagefunction);
				});
			});
		});
	});


</script>
{% endblock %}