{% extends app.request.isXmlHttpRequest ? '::baseajax.html.twig' : '::basesmartpanel.html.twig' %}
{% block content -%}
    <h1>Embalajes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            
            <tr>
                <th>Codembalaje</th>
                <td>{{ entity.codembalaje }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="#{{ path('embalajes') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="#{{ path('embalajes_edit', { 'id': entity.codembalaje }) }}">
            Editar
        </a>
    </li>
</ul>
   {{ form_start(delete_form) }}{{ form_widget(delete_form.submit, { 'label': 'Eliminar'}) }}{{ form_end(delete_form) }}
    <script type="text/javascript" src="{{ asset('js/arxis-postforms.js')}}"></script> 
<script type="text/javascript">
	pageSetUp();
	var pagefunction = function() {
	};
</script>
{% endblock %}
