{% extends app.request.isXmlHttpRequest ? '::baseajax.html.twig' : '::basesmartpanel.html.twig' %}


    {% block content -%}
    <h1>Articulos editar</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="#{{ path('articulos') }}">
            Regresar a la Lista
        </a>
    </li>
    <li>{{ form_start(delete_form) }}{{ form_row(delete_form.submit, { 'label': 'Eliminar'}) }}{{ form_end(delete_form) }}</li>
</ul>
<script type="text/javascript" src="{{ asset('js/arxis-postforms.js')}}"></script> 
<script type="text/javascript">
	pageSetUp();
	var pagefunction = function() {
	};
</script>
{% endblock %}
   


